[Desktop Entry]
Name=GenPass
Comment=Universal Password Generator
Exec=__EXEC__
Type=Application
Terminal=true
Icon=dialog-password
Categories=Utility;Security;
Keywords=password;generator;security;clipboard;
Name[en_US]=GenPass
